*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/src/assets/backgroundAL.png);
    background-size:cover;
    background-repeat:no-repeat ;
}
.navbar{
    display: flex;
    background-color: rgba(126, 245, 224, 0.25);
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 5rem;
}
.artri-logo{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.artri-name{
    line-height: 3.5rem;
    margin-left: 1ex;
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    display: flex;
    font-size: x-large;
    line-height: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.link-item{
    padding: 1px 2ex 1px 2ex ;
    position: relative;
}

.link-item:hover{
    background-color: rgba(177, 255, 255, 1);
}
.login-container{
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    background-color: beige;
    margin-right: 7rem;
    border-radius: 100%;
    box-shadow: 1px 1px ; 
    justify-content: center;
    align-items: center;
}
.login{
    position: relative;
    width:2rem; 
    height: 2rem;

}