.key {
    background-color:rgb(255, 255, 255, 0.5);
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 100% ;
  }
  
  .key.pressed {
    background-color: #00d8ff;
  }
  
  .key-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-top: 240px;
    
  }